<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383934728885-9l1m2o15ep53ln1oc6ukc6k9qpb2b647.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383934728885-9l1m2o15ep53ln1oc6ukc6k9qpb2b647</string>
	<key>API_KEY</key>
	<string>AIzaSyDcRuE0oa5nn-I4QAQ_1wSquVae89swT08</string>
	<key>GCM_SENDER_ID</key>
	<string>383934728885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseConnection</string>
	<key>PROJECT_ID</key>
	<string>authentication-test-72ab6</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-test-72ab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383934728885:ios:bf81c603180f76d9958cfc</string>
</dict>
</plist>